/* Gestion de la page Home */
.main {
  flex: 1;
  background-color: #E0E6ED;
  width: 100%;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.hero {
  background-image: url('/src/assets/bank-tree.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 280px;
  padding: 2rem;
  text-align: left;
  background: #ffffff;
  color: #ffffff;
}

.hero-content .subtitle {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 0 10px 0;
  color: black;
}

.hero-content .text {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
}

@media (max-width: 920px) {
  .hero {
    height: 300px;
    background-position: 0 -50px;
  }

  .hero-content {
    width: 200px;
    top: 2rem;
    right: auto;
    margin: 0 auto;
    position: relative;
  }

  .hero-content .subtitle {
    font-size: 1rem;
  }

  .hero-content .text {
    font-size: 0.9rem;
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 2rem 0;
  border-bottom: 2px solid #ccc;
}

.features p {
  color: #333333;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}

.feature-item {
  text-align: center;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
}

.feature-icon {
  width: 100px;
  height: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Fin gestion de la page Home */