/* Gestion du Header */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }
  
  .main-nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  /* .main-nav a.router-link-exact-active {
    color: #42b983;
  } */

  .fa {
      display: inline-block;
      font: normal normal normal 14px / 1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
  }

  
  .main-nav-item .fa-user-circle {
    color: black;
    margin-right: 0.5rem;
  }
  
  .main-nav-item .fa-sign-out {
    margin-right: 0.5rem;
  }
  
  .main-nav-item .fa-sign-out::after {
    margin: 0 0.5rem;
    color: #333;
  }
  
  /* .main-nav-item .fa-user-circle:hover {
    color: #007b50;
  } */
  
  .main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;
  }
  
  .main-nav-item:hover {
    text-decoration: underline;
  }
  
  .main-nav-logo {
    display: flex;
    align-items: center;
  }
  
  .main-nav-logo-image {
    max-width: 100%;
    width: 200px;
  }
  
  /* Fin gestion du Header */